.dropdown-menu {
    /*background-color: #def4c6;*/
}

.custom-toggler .navbar-toggler {
    border-color: rgb(000,139,58);
    position: absolute;
    top: 0.8rem;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(000,139,58, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Footer styles */
.footer {
  background-color: #B1CF5F;
  padding: 4rem 1rem;
}

/* Map container en footer */
#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}

/* Cards */
.view {
    overflow: hidden;
    position: relative;
    cursor: default;
}

.btn .fa, .card .card-body {
    position: relative;
}

.card-body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
